/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*********************
VARIABLES
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
FONTS
*********************/
@font-face {
  font-family: 'Hermetic';
  src: url("../fonts/hermetic_spellbook/hermeticspellbook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Colonia';
  src: url("../fonts/colonia_deco/ColoniaDecoDEMO-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@keyframes flyin {
  0% {
    transform: translate3d(0, 0, -200000px); }
  25% {
    transform: translate3d(0, 0, -200000px); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in; }
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear; }
  100% {
    opacity: 0;
    transform: scale(5); } }

body {
  perspective: 600px;
  background-color: #000;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  body a {
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
    display: block;
    padding: 2em 3em;
    background-color: #e60073;
    color: white;
    text-decoration: none;
    text-align: center;
    max-width: 7rem;
    margin: auto auto;
    transition: 0.3s ease-in; }

body main, body > section {
  display: none; }

head:target + body a {
  opacity: 0; }

head:target + body main {
  display: block;
  flex-grow: 1;
  overflow: auto;
  z-index: 1;
  animation: 3s flyin ease-out;
  font-family: Hermetic;
  color: #fff;
  background-color: #000; }
  @media (prefers-color-scheme: dark) {
    head:target + body main {
      font-family: Roboto; } }
  head:target + body main > header {
    height: 110vh; }
  head:target + body main header {
    display: flex;
    flex-direction: column;
    align-items: center; }
    head:target + body main header svg {
      font-family: Colonia; }
    head:target + body main header text {
      font-size: 7rem;
      fill: #fff;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; }
    head:target + body main header h1 {
      font-size: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      transform: translateY(-3em);
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #50e646, 0 0 40px #50E646, 0 0 50px #50E646, 0 0 60px #50E646, 0 0 70px #50E646; }
      @media (min-width: 600px) {
        head:target + body main header h1 {
          font-size: 1.5rem; } }
      @media (min-width: 800px) {
        head:target + body main header h1 {
          font-size: 2rem; } }
      @media only screen and (min-width: 1000px) {
        head:target + body main header h1 {
          font-size: 3rem; } }
  head:target + body main section {
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
    margin: 0 3em 5em;
    padding: 2em 2em 4em 2em;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3ce3e6, 0 0 40px #3ce3e6, 0 0 50px #3ce3e6, 0 0 60px #3ce3e6, 0 0 70px #3ce3e6; }
    head:target + body main section h3 {
      grid-column-start: 1;
      grid-column-end: 3; }
    head:target + body main section article {
      display: grid;
      grid-template-rows: 1.5fr 1fr;
      grid-template-columns: 5fr 1fr;
      grid-gap: 0 2em;
      margin: 0 2em;
      place-self: center stretch; }
    head:target + body main section header, head:target + body main section blockquote {
      text-align: center;
      display: grid;
      justify-content: center;
      justify-items: stretch;
      place-self: center stretch;
      grid-gap: 0.5em;
      grid-template-columns: 1fr; }
      head:target + body main section header p, head:target + body main section blockquote p {
        display: inline-block;
        width: 100%; }

head:target + body > section {
  display: block; }
  head:target + body > section, head:target + body > section div {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  head:target + body > section div {
    background-image: radial-gradient(2px 2px at 20px 30px, #eee, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 130px 80px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
    background-repeat: repeat;
    background-size: 200px 200px;
    animation: zoom 2s;
    opacity: 0; }
    head:target + body > section div:nth-child(1) {
      background-position: 50% 50%;
      animation-delay: 0s; }
    head:target + body > section div:nth-child(2) {
      background-position: 20% 60%;
      animation-delay: 0.2s; }
    head:target + body > section div:nth-child(3) {
      background-position: -20% -30%;
      animation-delay: 0.4s; }
    head:target + body > section div:nth-child(4) {
      background-position: 40% -80%;
      animation-delay: 0.6s; }
    head:target + body > section div:nth-child(5) {
      background-position: -20% 30%;
      animation-delay: 1s; }
