@import "reset";
@import "mixins";
@import "menu";
@import "start";
@import "warpdrive";

body {
  background: $dark url("../img/space.jpg");
  transition: background 3s;
  font-family: Hermetic;

  &:lang(en) {
    //breakpoint(dark) {
    font-family: Roboto, sans-serif;
    //}
  }
}

@include breakpoint(no-reduced) {
  body main, body > section {
    display: none;
  }
}
//
// embed { display: none; }
//#play:active +


//html, a {
//  cursor: url(../img/spaceship.svg) 2 2, auto;
//}

// I use SASS so that I can nest elements which makes layering the css for different OS settings easier {
