head:target + body main {
  display: block;
}

main {
  background: url("../img/space.jpg");
  flex-grow: 1;
  overflow: auto;
  z-index: 1;
  animation: 5s flyin ease-out;
  font-family: Hermetic;
  color: $light;
  @include breakpoint(dark) {
    font-family: Roboto;
  }

  > header {
    height: 100vh;

  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
      font-family: Colonia;
    }

    text {
      font-size: 7rem;
      fill: $light;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    h1 {
      font-size: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      transform: translateY(-3em);
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #50e646, 0 0 40px #50E646, 0 0 50px #50E646, 0 0 60px #50E646, 0 0 70px #50E646;
      @include breakpoint(small) {
        font-size: 1.5rem;
      }
      @include breakpoint(medium) {
        font-size: 2rem;
      }
      @include breakpoint(large) {
        font-size: 3rem;
      }
    }
  }
  section {
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
    margin: 0 3em 5em;
    padding: 2em 2em 4em 2em;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3ce3e6, 0 0 40px #3ce3e6, 0 0 50px #3ce3e6, 0 0 60px #3ce3e6, 0 0 70px #3ce3e6;

    h3 {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    article {
      display: grid;
      grid-template-rows: 1.5fr 1fr;
      grid-template-columns: 5fr 1fr;
      grid-gap: 0 2em;
      margin: 0 2em;
      place-self: center stretch;
    }

    header, blockquote {
      text-align: center;
      display: grid;
      justify-content: center;
      justify-items: stretch;
      place-self: center stretch;
      grid-gap: 0.5em;
      grid-template-columns: 1fr;

      p {
        display: inline-block;
        width: 100%;
      }
    }
  }
}