@include breakpoint(no-reduced) {
  head:target + body main {
    display: block;
    //z-index: 4;

    section:nth-of-type(1) {
      animation: turnFirstSection 5s ease-in-out 6s;

      &:hover, &:hover ~ section {
        animation-play-state: paused;
      }
    }

    section:nth-of-type(2) {
      animation: turnFirstSection 5s ease-in-out 11s;

      &:hover, &:hover ~ section {
        animation-play-state: paused;
      }
    }

    section:nth-of-type(3) {
      animation: turnFirstSection 5s ease-in-out 16s;

      &:hover, &:hover ~ section {
        animation-play-state: paused;
      }
    }

    section:nth-of-type(4) {
      animation: turnFirstSection 5s ease-in-out 21s;

      &:hover, &:hover ~ section {
        animation-play-state: paused;
      }
    }

    section:nth-of-type(5) {
      animation: turnFirstSection 5s ease-in-out 26s;

      &:hover, &:hover ~ section {
        animation-play-state: paused;
      }
    }

    section:nth-of-type(6) {
      animation: turnFirstSection 5s ease-in-out 31s;

      &:hover, &:hover ~ section {
        animation-play-state: paused;
      }
    }
  }
}

main {
  position: relative;
  //background: url("../img/space.jpg");
  flex-grow: 1;
  overflow: auto;
  color: $light;
  perspective: 600px;

  &:lang(en) {
    font-family: Roboto, sans-serif;
  }

  > div {
    display: grid;
    grid-template-areas: "noshes" "noshes" "noshes" "boards" "platters" "eggs" "eggs" "sides" "sweet" "sweet";
    @media (min-width: 1000px) {
      grid-template-areas: "noshes boards" "noshes platters" "eggs sweet" "eggs sweet" "sides sides";
    }
    @media (min-width: 2000px) {
      grid-template-areas: "noshes boards eggs" "noshes platters eggs" "sweet sides sides" "sweet . ."
    }
    @media (min-width: 3000px) {
      grid-template-areas: "noshes platters boards eggs" "noshes sides sides eggs" ". sweet sweet ."
    }
    @media (min-width: 4000px) {
      grid-template-areas: "noshes platters boards eggs sweet" "noshes sides sides eggs sweet"
    }

    section:nth-of-type(1) {
      grid-area: noshes;
    }

    section:nth-of-type(2) {
      grid-area: boards;
    }

    section:nth-of-type(3) {
      grid-area: platters;
    }

    section:nth-of-type(4) {
      grid-area: eggs;
    }

    section:nth-of-type(5) {
      grid-area: sides;

      > article {
        display: grid;
        grid-template-areas: "soup" "salad";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        @include breakpoint(medium) {
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 1fr;
          grid-template-areas: "soup salad";
        }

        section {
          margin: 0;
          padding: 0 0 1.2em;
          box-shadow: none;

          header h2 {
            font-weight: 400;
          }

          &:nth-of-type(1) {
            grid-area: soup;
          }

          &:nth-of-type(2) {
            grid-area: salad;
          }
        }
      }
    }

    section:nth-of-type(6) {
      grid-area: sweet;
    }
  }

  //@include breakpoint(dark) {
  //  font-family: Roboto, serif;
  //}
  @include breakpoint(no-reduced) {
    > header {
      transform: translate3d(0, 0, 2000px);
      height: 100vh;
      z-index: 3;
      animation: 6s flyin;
      animation-timing-function: cubic-bezier(1, .95, .05, .96);
    }
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
      font-family: Colonia;
    }

    text {
      font-size: 7rem;
      fill: $light;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    h1 {
      font-size: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      transform: translateY(-3em);
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #50e646, 0 0 40px #50E646, 0 0 50px #50E646, 0 0 60px #50E646, 0 0 70px #50E646;
      @include breakpoint(small) {
        font-size: 1.5rem;
      }
      @include breakpoint(medium) {
        font-size: 2rem;
      }
      @include breakpoint(large) {
        font-size: 3rem;
      }
    }
  }

  section {
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
    margin: 0 3em 5em;
    padding: 2em 2em 4em 2em;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3ce3e6, 0 0 40px #3ce3e6, 0 0 50px #3ce3e6, 0 0 60px #3ce3e6, 0 0 70px #3ce3e6;
    top: 0;
    @include breakpoint(no-reduced) {
      position: absolute;
      transform: translateZ(-1000px) rotateY(-80deg) translateZ(-10000px);
      transition: 2s ease;
    }
  }

  h3 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  article {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    grid-template-columns: 5fr 1fr;
    grid-gap: 0 2em;
    margin: 0 2em;
    place-self: center stretch;
  }

  header, blockquote {
    text-align: center;
    display: grid;
    justify-content: center;
    justify-items: stretch;
    place-self: center stretch;
    grid-gap: 0.5em;
    grid-template-columns: 1fr;

    p {
      display: inline-block;
      width: 100%;
    }
  }
}

