/*********************
VARIABLES
*********************/

$dark: #000;
$light: #fff;
$normal: #000;
$inverted: #fff;

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == x-large {
    @media (min-width: 1200px) {
      @content ;
    }
  } @else if $point == large {
    @media only screen and (min-width: 1000px) {
      @content ;
    }
  } @else if $point == medium {
    @media (min-width: 800px) {
      @content ;
    }
  } @else if $point == small {
    @media (min-width: 600px) {
      @content ;
    }
  } @else if $point == x-small {
    @media (max-width: 400px) {
      @content ;
    }
  } @else if $point == dark {
    @media (prefers-color-scheme: dark) {
      @content ;
    }
  } @else if $point == light {
    @media (prefers-color-scheme: light) {
      @content ;
    }
  } @else if $point == invertedColors {
    @media (inverted-colors: inverted) {
      @content;
    }
  } @else if $point == normalColors {
    @media (inverted-colors: none) {
      @content;
    }
  }
}

/*********************
FONTS
*********************/

@font-face {
  font-family: 'Hermetic';
  src: url('../fonts/hermetic_spellbook/hermeticspellbook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Colonia';
  src: url('../fonts/colonia_deco/ColoniaDecoDEMO-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@keyframes flyin {
  0% {
    transform: translate3d(0, 0, -600000px);
  }
  //20% {
  //  transform: translate3d(0, 0, -600000px);
  //}
  //25% {
  //  transform: translate3d(0, 0, -300000px);
  //}
  //30% {
  //  transform: translate3d(0, 0, -100000px);
  //}
  //40% {
  //  transform: translate3d(0, 0, -10000px);
  //
  //}
  //50%{
  //  transform: translate3d(0, 0, -4000px);
  //}
  //60% {
  //    transform: translate3d(0, 0, 0px);
  //}
  100% {
    transform: translate3d(0, 0, 1000px);
  }
}


@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(5);
  }
}

@keyframes cubespace {
  to {
    transform: translateZ(100000px) rotateY(3360deg);
  }
}

@keyframes buttonRest {
  to {
    transform: translateZ(-100px) rotateY(0deg);
  }
}

@keyframes buttonHover {
  to {
    transform: translateZ(20px) rotateY(-33deg);
  }
}

@keyframes backgroundPopup {
  0% {
    background: url("./img/popupOrganic.svg")no-repeat;
    background-size: contain;

    width: 40vw;
    height: 45vw;
  }
  50% {
    background: url("./img/organicPopupBlue.svg")no-repeat;
    background-size: contain;

    width: 40vw;
    height: 45vw;
  }
  100% {
    background: url("./img/organicPopupGreen.svg")no-repeat;
    background-size: contain;
    width: 40vw;
    height: 45vw;
  }
}

@keyframes franticMovement {
  0% {
    top: 10%;
    right: 20%;
  }10% {
    top: 30%;
    right: 40%;
  }20% {
    top: 45%;
    right: 10%;
  }30% {
    top: 11%;
    right: 15%;
  }40% {
    top: 30%;
    right: 70%;
  }50% {
    top: 70%;
    right: 40%;
  }60% {
    top: 50%;
    right: 30%;
  }70% {
    top: 80%;
    right: 80%;
  }80% {
    top: 25%;
    right: 35%;
  }90% {
    top: 20%;
    right: 20%;
  }100% {
     top: 10%;
     right: 20%;
   }
}

@keyframes turnFirstSection {
  0% {
    transform: translateX(2000px) translateZ(-3000px) rotateY(-118deg);
  }
  50% {
    transform: translateX(0) translateZ(-1500px) rotateY(0deg);
  }
  100% {
    transform: translateX(0) translateZ(1000px) rotateY(0deg);
  }
}