/*********************
VARIABLES
*********************/

$dark: #000;
$light: #fff;

/*********************
BREAKPOINTS
*********************/

@mixin breakpoint($point) {
  @if $point == x-large {
    @media (min-width: 1200px) {
      @content ;
    }
  } @else if $point == large {
    @media only screen and (min-width: 1000px) {
      @content ;
    }
  } @else if $point == medium {
    @media (min-width: 800px) {
      @content ;
    }
  } @else if $point == small {
    @media (min-width: 600px) {
      @content ;
    }
  } @else if $point == x-small {
    @media (max-width: 400px) {
      @content ;
    }
  } @else if $point == dark {
    @media (prefers-color-scheme: dark) {
      @content ;
    }
  }
  @else if $point == light {
    @media (prefers-color-scheme: light) {
      @content ;
    }
  }
}

/*********************
FONTS
*********************/

@font-face {
  font-family: 'Hermetic';
  src: url('../fonts/hermetic_spellbook/hermeticspellbook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Colonia';
  src: url('../fonts/colonia_deco/ColoniaDecoDEMO-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@keyframes flyin {
  0% { transform: translate3d(0, 0, -600000px); }
  50% { transform: translate3d(0, 0, -600000px); }
  100%   { transform: translate3d(0, 0, 0); }
}


@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(5);
  }
}

@keyframes cubespace {
  to {
    transform: translateZ(100000px) rotateY(   0deg);
  }
}