body > article {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  section:not(:nth-of-type(2)) {
    margin-top: -10em;
    margin-left: -5em;
    position: relative;
    color: $light;
    width: 40vw;
    height: 45vw;
    background: url("../img/popupOrganic.svg") no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-out;

    &::after {
      color: #fff;
      position: absolute;
      content: 'X';
      z-index: 2;
      width: 20px;
      height: 20px;
      top: 10%;
      right: 20%;
      text-align: right;
    }

    &:hover {
      animation: backgroundPopup 0.5s infinite ease-in-out;

      &::after {
        animation: franticMovement 2s infinite ease-in-out;
      }
    }
    form button {
      font-family: Hermetic;
      &:lang(en) {
        font-family: Roboto, sans-serif;
      }
      //border: none;
      background-color: #ff00f9;
      padding: 0.6em 1em;
      margin-right: 0.5em;
      border-radius: 5px;
    }
  }
  section:nth-of-type(2) {
    z-index: 3;
    width: 100vw;
    height: 4ch;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #50e646;
    article {
      position: absolute;
      transform: translateY(5%);
      &:lang(en) {
        transform: translateY(20%);
      }
      animation: marquee 5s linear infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
    h2 {
      color: #ff00f9;
      overflow: hidden;
      //text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  section:nth-of-type(5) {
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(-1);
  }
  section:nth-of-type(6) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: scaleX(-1);
  }

  div {
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-left: 3em;
    overflow: hidden;

    button {
      max-width: 50px;
    }
  }
}

@include breakpoint(dark) {
  body > article {
    display: none;
  }
}
@include breakpoint(reduced) {
  body > article {
    display: none;
  }
}